#addSkill {
    background-color: white;
    color: black;
    padding: 10px;
    margin: 0 auto;
}

#addSkill:hover {
    background-color: black;
    color: white;
}

#enterSkill {
    padding: 10px;
    border-color: black;
    border-width: 2px;
    margin: 0 auto;
}
